In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [17]:
data = pd.read_csv('https://raw.githubusercontent.com/jimitbhalavat/CS440TermProject/main/Dataset/ETFs/aaxj.us.txt', sep = ",")
data.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  2008-08-15  44.886  44.886  44.886  44.886     112        0
1  2008-08-18  44.564  44.564  43.875  43.875   28497        0
2  2008-08-19  43.283  43.283  43.283  43.283     112        0
3  2008-08-20  43.918  43.918  43.892  43.892    4468        0
4  2008-08-22  44.097  44.097  44.017  44.071    4006        0